 @font-face {
   font-family: fredoka;
   src: url(/css/Fredoka-Regular.ttf);
 }

 body {
   background-color: #EFF4F8;
   font-family: fredoka;
 }

 footer {
   background-color: #EFF4F8;
 }

 nav {
   background-color: #1F3A79;
 }

 .card {
   height: auto;
   border: none;
   border-radius: 15px;
   overflow: hidden;
 }

 .card-content {
   padding: 20px;
 }


 .navbar-nav {
   display: flex;
   justify-content: center;
   gap: 20px;
 }

 .navbar-nav .nav-link {
   color: white;
   text-align: center;
 }

 .icon {
   width: 24px;
   height: 24px;
 }

 .btn {
   background-color: #1F3A79;
 }

 .card-body h3 {
   margin-bottom: 20px;
   font-size: 14pt;
   text-align: right;
 }

 video,
 img,
 canvas {
   max-width: 100%;
 }

 .hide {
   display: none;
 }

 .f {
   width: 100%;
 }

 .cardbtn {
   background: none;
   border: none;
   text-decoration: underline;
   cursor: pointer;
   padding: 0;
 }

 .card-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
 }

 /*.btn {
   margin-top: 10px;
   align-self: flex-start;
   border: none;
   background-color: #1F3A79;
   color: white;

 }*/

 .nav-link {
   color: white
 }


 .card-title {
   position: relative;
   color: white;
   padding: 10px;
   margin-bottom: 0;
   z-index: 1;
   border: none;

 }


 .card-title::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: #1F3A79;
   z-index: -1;
   border-radius: 5px;

 }

 .card-body .card-info {
   display: none;
 }

 .card-body.show-info .card-info {
   display: block;
 }

 .card-body {
   padding: 10px;
   border-radius: 30px;
   background-color: white;
   border: none;
   color: #1F3A79;
   display: flex;
   flex-direction: column;

 }

 .popup {
   display: none;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: white;
   padding: 20px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   z-index: 9999;
 }

 .popup-content {
   position: relative;
 }

 .close-button {
   position: absolute;
   top: 5px;
   right: 10px;
   font-size: 20px;
   cursor: pointer;
   border: none;
   background: none;
 }


 h1 {
   color: #1F3A79;
   text-align: center;
 }

 #searchBar {
   display: flex;
   align-items: center;
   border: none;
   border-radius: 15px;

 }

 #searchInput {
   padding: 8px;
   border: none;
   margin-right: 5px;
   border-radius: 15px;
 }


 .clear-search {
   position: absolute;
   top: 50%;
   right: 168px;
   transform: translateY(-50%);
   cursor: pointer;
   color: #000000;
   border: none;

 }

 .search-container {
   position: relative;
   display: inline-block;

 }

 .search-button {
   background-color: transparent;
   border: none;
   padding: 0;
   padding: 8px 10px;
   color: white;
   border: none;
   border-radius: 4px;
   cursor: pointer;
 }



 .search-input {
   padding-right: 30px;
   border: none;
   border-radius: 15px;
 }


 .clear-search:hover {
   color: #bab8b8;
 }

 .search-input:focus {
   outline: none;
   border: none;
   border-radius: 15px;

 }

 .search-input::after {
   content: "×";
   position: absolute;
   top: 50%;
   right: 8px;
   transform: translateY(-50%);
   cursor: pointer;
   border: none;
   border-radius: 15px;
 }

 #noResultsMessage {
   display: none;
 }

 span {
   color: #1F3A79;
 }